/node_modules
/public/hot
/public/storage
/public/livewire-tmp
/storage
/vendor
/laradock
/build
/.vscode
.env
.env.testing
.env.local
.env.dusk.local
.env.dusk
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/css/styles.css
public/mix-manifest.json
public/css/*.css
public/css/*.css.map
!public/css/chosen.min.css
public/js/modules
public/js/promos
public/js/uploaders
public/js/datatables
public/js/vendor-finance
public/js/*.js
public/js/*.js.map
public/js/app.js.LICENSE.txt
!public/js/chosen.jquery.min.js
public/resources/css/styles.css
purity_users_random_pass.txt
vendors_users_random_pass.txt
ppms_migration/MappingData/*.csv
_ide_helper.php
.phpstorm.meta.php
junit.xml
.php-cs-fixer.cache
BRANCH
